body{
    background-color: rgb(226, 233, 239);
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(83, 83, 250);
    
    
}
.elementos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0px 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Juan{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    
    
    


    
}
   